<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chinamobile.wifibao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--DON'T REMOVE Authorization-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activity.PasswordModifyActivity">
        </activity>
        <!--activities for share wifi ap.DON'T REMOVE -->
        <activity android:name=".activity.ShareActivity">
        </activity>

        <activity android:name=".activity.ShareSetActivity">
        </activity>

        <activity android:name=".activity.CloseApActivity">
        </activity>

        <activity android:name=".activity.BalanceShareActivity">
        </activity>

        <activity android:name=".activity.LoginActivity">
        </activity>

        <activity android:name=".activity.BalanceUseActivity">
        </activity>

        <activity android:name=".activity.ManualActivity">
        </activity>

        <activity android:name=".activity.UseRecordActivity">
        </activity>

        <activity android:name=".activity.ShareRecordActivity">
        </activity>

        <activity android:name=".activity.FlowUsingActivity">
        </activity>

        <activity android:name=".activity.WifiDetailsActivity">
        </activity>

        <activity android:name=".activity.PersonalActivity">
        </activity>

        <activity
            android:name=".activity.WifiListActivity"
            android:label="WifiListActivity">
        </activity>

        <activity
            android:name=".activity.HomeActivity">
        </activity>

        <activity
            android:name=".activity.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.MywalletActivity">
        </activity>

        <activity
            android:name=".activity.MobileServiceActivity">
        </activity>
    </application>

</manifest>
